
<div>
    <%= link_to 'Alphabetized Customers', customer_alphabetized_path %><br>
<%= link_to 'Missing Email Customers', customer_missing_email_path %>
  <% @customers.each do |customer| %>
    <%= render partial: 'customer', locals: { customer: customer } %>
  <% end %>
</div>
